*.env
*.py[cod]
venv/*
build 
dist
inui.egg-info
.tempHotReloader
thisfolderisjutjustfordevelopingthepackage

___*
venv
yarn.lock
package.json
node_modules
public
mui/inuireact/.git
mui/inuireact/.gitignore