.filter-simple {
  .button-group {
     justify-content: center; // center the button group
  }

  .filter-simple-button.hollow {
    &.is-active,
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $white;
    }
  }
}

// optional styles to round the button group edges
.button-group.round {
  :first-child {
    border-radius: 5000px 0 0 5000px;
  }

  :last-child {
    border-radius: 0 5000px 5000px 0;
  }
}

// class that spaces blocks vertically - will be built into Foundation 6.4
.column-block {
  margin-bottom: 30px;
}
