$full-width-testimonial-quote-color: $warning-color;
$full-width-testimonial-vertical-padding: 2rem;

.full-width-testimonial {
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.1)
  ),
    url("https://unsplash.it/2000/1200/?image=1011");
  background-position: center center;
}

.full-width-testimonial-icon {
  .quote-path {
    fill:none;
    stroke: $full-width-testimonial-quote-color;
    stroke-width:2.5192;
    stroke-miterlimit:10;
  }
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}
.full-width-testimonial-section {
  padding-top: $full-width-testimonial-vertical-padding;
  
  .full-width-testimonial-text {
    font-weight: 300;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    // Adjust margin-top for line spacing
    margin-top: -5px;
    
    @include breakpoint(small) {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 1.5em;
    }
    
    @include breakpoint(medium) {
      padding-left: 100px;
      padding-right: 100px;
    }
    
    @include breakpoint(large) {
      padding-left: 180px;
      padding-right: 180px;
      font-size: 1.8em;
    }
    
    @include breakpoint(xlarge) {
      padding-left: 300px;
      padding-right: 300px;
    }
  }
  
  .full-width-testimonial-source {
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 0;
    margin-bottom: 0.2em;
    
    @include breakpoint(small) {
      font-size: 1.0em;
    }
  }
  
  .full-width-testimonial-source-context {
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  
    @include breakpoint(small) {
      font-size: 0.8em;
    }
  }
  
  .slick-slider {
    margin-bottom: 0px;
  }
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: $full-width-testimonial-vertical-padding;
}

.full-width-testimonial-content {
  width: 100%;
}
