.input-group-rounded {
  .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }

  .input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 0.8rem;
  }
}
