.button-icon-badge {
  padding: 1rem 2rem;

  .button-icon-badge-text {
    padding: 0 0.5rem;
  }

  .badge {
    font-size: 0.8em;
    padding: 0.4rem;
  }

  .fa {
    color: $white;
    font-size: 1rem;
  }
}
