$comment-form-bg: $light-gray;
$comment-section-bg: $white;
$comment-section-padding: $global-padding;

.comment-section-container {
  background-color: $comment-section-bg;
  padding: $global-padding;
}

.comment-section-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .comment-section-name {
    margin-left: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}

.comment-section-box {
  background-color: $comment-form-bg;
  padding: $global-padding;
}
